altgraph==0.17
aniso8601==8.0.0
certifi==2019.3.9
cffi==1.14.0
chardet==3.0.4
click==6.6
colorama==0.3.7
cryptography==2.9
dis3==0.1.3
Django==1.8.4
enum34==1.1.10
Flask==1.1.2
Flask-RESTful==0.3.8
future==0.18.2
idna==2.8
ipaddress==1.0.23
ipython==2.2.0
itsdangerous==1.1.0
Jinja2==2.11.1
jsbeautifier==1.6.2
lxml==4.5.0
MarkupSafe==1.1.1
olefile==0.43
oletools==0.51
peepdf==0.4.2
pefile==2019.4.18
pefile2==1.2.11
pexpect==4.8.0
Pillow==8.2.0
ptyprocess==0.6.0
py==1.8.1
pycparser==2.20
pyguacamole==0.6
pyHook==1.5.1
pyinstaller==3.6
pyshark==0.4.2.9
python-magic==0.4.12
pythonaes==1.0
pytz==2019.3
pyutil==3.3.0
pywin32==227
pywin32-ctypes==0.2.0
requests==2.21.0
scapy==2.4.2
SFlock==0.3.10
six==1.14.0
unpy2exe==0.4
urllib3==1.24.3
wakeonlan==0.2.2
Werkzeug==1.0.1
yara==1.7.7
yara-python==3.6.3
